$redLogoColor: rgb(183, 8, 8);
$borderGray: rgb(93, 93, 93);

.faq-container {
  padding-bottom: 20px;
}

.black-text {
  color: black;
}

.logo-text {
  color: rgb(183, 8, 8);
}

.faq-banner {
  position: relative;
  text-align: center;
  color: white;

  img {
    width: 100%;
    height: auto;
  }
  .banner-icon {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
  }
}

.faq-questions-content {
  width: 75%;
  margin: 50px auto;
}

.question-container {
  border-bottom: 1px solid $borderGray;
  margin: 10px auto;
}

.question-text {
  color: $redLogoColor;
  display: inline-block;
  width: 90%;
  margin-bottom: 0;
  line-height: 70px !important;
  font: 30px PoppinsSemiBold, serif, sans-serif;
}

.question-answer-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-in-out;

  &.expanded {
    max-height: 600px;
  }

  img {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
}

.question-answer-text {
  margin: 18px auto;
  font: 20px Poppins, serif, sans-serif;
  color: #414040
}

.faq-action-icon-image {
  width: 70px;
  height: 70px;
  display: inline-block;
  float: right;
}

.faq-banner-text-container {
  position: absolute;
  top: 50%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  .banner-text-small {
    text-transform: uppercase;
    color: white;
    font: 24px PoppinsBold, serif, sans-serif;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 0 0 10px #000000;
  }
  .banner-text-large {
    color: white;
    font: 44px PoppinsSemiBold, serif, sans-serif;
    text-align: center;
    text-shadow: 0 0 10px #000000;
  }
}

.faq-question-header {
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;

  :hover {
    cursor: pointer;
  }

}


.faq-question-title {
  font: 22px RobotoMedium, serif, sans-seif;
  width: 100%;
  line-height: 60px;
  padding-left: 15px;
  background-color: rgba(182,8,7, 0.75);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  margin-bottom: 0;
}

.faq-question-answer-container {
  width: 100%;
  background-color: #eee;
  border-radius: 10px;
  height: 0;
  transform:scaleY(0);
  overflow: hidden;

  p {
    padding: 20px 0;
    margin-left: 10px;
  }
}

.faq-image {
  max-height: 75%;
  max-width: 75%;
  margin: 0 12.5% 20px 12.5%;
}

.active {
  transition:transform 0.4s ease-out;
  height:auto;
  transform:scaleY(1);
  transform-origin:top;
}

@media screen and (max-width: 1000px) {
  .faq-container {
    margin-top: 100px;
  }
  .faq-question-title {
    line-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .faq-container {
    margin-top: 300px;
  }
}