.faq-container {
  padding-bottom: 20px;
}

.faq-question-header {
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;

  :hover {
    cursor: pointer;
  }

}


.faq-question-title {
  font: 22px RobotoMedium, serif, sans-seif;
  width: 100%;
  line-height: 60px;
  padding-left: 15px;
  background-color: rgba(182,8,7, 0.75);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  margin-bottom: 0;
}

.faq-question-answer-container {
  width: 100%;
  background-color: #eee;
  border-radius: 10px;
  height: 0;
  transform:scaleY(0);
  overflow: hidden;

  p {
    padding: 20px 0;
    margin-left: 10px;
  }
}

.faq-image {
  max-height: 75%;
  max-width: 75%;
  margin: 0 12.5% 20px 12.5%;
}

.active {
  transition:transform 0.4s ease-out;
  height:auto;
  transform:scaleY(1);
  transform-origin:top;
}

@media screen and (max-width: 1000px) {
  .faq-container {
    margin-top: 100px;
  }
  .faq-question-title {
    line-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .faq-container {
    margin-top: 300px;
  }
}