.freeEstimate {
    width: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 225px);
}

#estimateFormContainer {
    width: 70%;
    margin: 0 auto;
    height: calc(100% - 125px);
}

.estimateControlLabel {
    font-family: Bebas, serif;
    font-size: 18px;
    word-spacing: 5px;
    width: 100%;
}

.estimateFooter {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;

}


.estimateFooterMainText {
    float: right;
    font-family: FranklinGothicHeavy, serif;
    font-size: 64px;
    color: rgb(182,8,7);
    text-transform: uppercase;
    margin-right: 30px;
    word-spacing: 10px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    width: 100%;

}

.estimateFooterSmallText {
    float: right;
    font-family: Bebas, serif;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    margin-right: 30px;
    word-spacing: 5px;
    margin-top: -15px;
    text-align: right;
    margin-bottom: 5px;
}

.estimateImportant {
    color: rgb(182,8,7);
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.formGroupText {
    width: 50%;
    display: inline-block;
}

.formGroupCustom {
    width: 50%;
    display: inline-block;
}

.formGroupDetails {
    float: right;
}

.descriptionTextArea {
    height: 125px !important;
}

.checkbox label {
    font-family: AgencyFB, serif;
    font-size: 18px;
}

.submitButton {
    background-color: rgb(182, 8, 7);
    color: white;
    font-family: Bebas, serif;
    font-size: 12px;
    width: 150px;
    margin-top: 20px;
    margin-left: calc(50% - 75px);
}

.formGroupInput {
    width: 95% !important;
}

/* Submitted Estimate */
.submittedEstimateContainer {
    width: 60%;
    margin: 20px auto;
    display: block;
    padding-bottom: 50px;
}

.submittedHeader {
    font-family: Bebas, serif;
    font-size: 24px;
    color: rgb(182, 8, 7);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.submittedInfo {
    font-size: 20px;
    text-align: center;
    color: black;
}

.hideEstimate {
    display: none;
}

.showEstimate {
    display: block;
}




@media screen and (max-width: 1000px){

    .freeEstimate {
       height: auto;
        position: relative;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    #estimateFormContainer {
        width: 80%;
        margin: 0 auto;
    }

    .estimateControlLabel {
        font-family: Bebas, serif;
        font-size: 18px;
        word-spacing: 5px;
        width: 100%;
    }

    .estimateFooter {
        display: none;

    }

    .formGroupText {
        width: 100%;
        display: inline-block;
    }

    .formGroupCustom {
        width: 100%;
        display: inline-block;
    }

    .formGroupDetails {
        float: right;
    }

    .descriptionTextArea {
        height: 125px !important;
    }

    .checkbox label {
        font-family: AgencyFB, serif;
        font-size: 18px;
    }

    .submitButton {
        background-color: rgb(182, 8, 7);
        color: white;
        font-family: Bebas, serif;
        font-size: 12px;
        width: 150px;
        margin-top: 20px;
        margin-left: calc(50% - 75px);
    }

    .formGroupInput {
        width: 95% !important;
    }

    /* Submitted Estimate */
    .submittedEstimateContainer {
        width: 60%;
        margin: 20px auto;
        display: block;
        padding-bottom: 50px;
    }

    .submittedHeader {
        font-family: Bebas, serif;
        font-size: 24px;
        color: rgb(182, 8, 7);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .submittedInfo {
        font-size: 20px;
        text-align: center;
        color: black;
    }

    .hideEstimate {
        display: none;
    }

    .showEstimate {
        display: block;
    }

}