.meetTheDocs {
    margin-top: 50px;
    height: calc(100vh - 270px);
    position: relative;
}

.docsContainer {

    width: 80%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    align-items: stretch;
}

.docsView {
    flex-grow: 1;
    height: 400px;
}

.singleDocContainer {
    width: 300px;
    height: 250px;
    margin-left: calc(50% - 150px);
}

.docsViewImageContainer {
    width: 100%;
    height: 100%;
}

.docsView img {
    width: 100%;
    height: 100%
}

.docName {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Bebas, serif;
    text-transform: uppercase;
}

.docBio {
    position: relative;
    top: -300px;
    bottom: 0;
    left: -50px;
    right: 0;
    height: 300px;
    width: 400px;
    opacity: 0;
    transition: .25s ease;
    background-color: rgba(0, 0, 0, 0.85);
    margin-left: calc(50% - 150px);
}

.docBio p {
    color: white;
    font-size: 16px;
    /*font-family: AgencyFB, serif;*/
    width: 90%;
    margin: 5px auto;
    padding-top: 5px;
}



.singleDocContainer:hover .docBio {
    opacity: 1;
}

.docsFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.docsFooterMainText {
    float: right;
    font-family: FranklinGothicHeavy, serif;
    font-size: 64px;
    color: rgb(182,8,7);
    text-transform: uppercase;
    margin-right: 30px;
    word-spacing: 10px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    width: 100%;

}

.docsFooterSmallText {
    float: right;
    font-family: Bebas, serif;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    margin-right: 30px;
    word-spacing: 5px;
    margin-top: -15px;
    text-align: right;
    margin-bottom: 5px;
}

.docsImportant {
    color: rgb(182,8,7);
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}
