.workItemDescription {
    width: 37%;
    margin-right: 2%;
    float: right;
    height: 600px;
    display: inline-block;
}

#workSelectedItem {
    font-family: Bebas, serif;
    color: rgb(182, 8, 7);
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (min-width: 601px) and (max-width: 1000px){

    .workItemDescription {
        width: 70%;
        margin: 0 15%;
        float: none;
        display: inline-block;
        height: auto;
    }

}

@media screen and (max-width: 600px) {
    .workItemDescription {
        display: none;
    }
}