.workItemDescription {
    width: 37%;
    margin-right: 2%;
    float: right;
    height: 600px;
    display: inline-block;
}

#workSelectedItem {
    font-family: Bebas, serif;
    color: rgb(182, 8, 7);
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}