.stormDamage {
    margin-top: 50px;
    position: relative;
    min-height: calc(100vh - 280px);

}

.stormDamageContent {
    width: 100%;

}

.stormDamageInfo {
    width: 65%;
    height: 100%;
    float: left;
}

.stormDamageInfo img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    box-shadow: 2px 2px dimgrey;
    max-width: 900px;
}

#stormDamageDescription {
    font-family: AgencyFB, serif;
    text-align: center;
    width: 80%;
    margin: 60px auto;
    font-size: 20px;
}

.stormDamageImportant {
    color: rgb(182, 8, 7);
    word-spacing: 5px;
    font-size: 20px;
}

.stormReport {
    width: 35%;
    height: 100%;
    float: right;
}

.estimateButton {
    width: 250px;
    height: 40px;
    background-color: rgb(182, 8,7);
    color: white;
    font-family: Bebas, serif;
    word-spacing: 5px;
    margin-top: 20px;
    margin-left: calc(50% - 125px);
    border-radius: 5px;
}

.stormDamageFooter {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.stormDamageFooterText {
    float: right;
    line-height: 80px;
    font-family: Bebas, serif;
    font-size: 48px;
    color: rgb(182,8,7);
    text-transform: uppercase;
    margin-right: 30px;
    word-spacing: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.damageLink {
    color: rgb(182, 8, 7);
}

.damageLink:hover {
    color: rgb(182, 8, 7);
}