/* BOOTSTRAP TWEAKS */
.btn-outline-primary-roofer {
  color: rgb(168, 36, 27);
  border-color: rgb(168, 36, 27)!important;
}

.btn-outline-primary-roofer:hover {
  color: white;
  background-color: rgb(168, 36, 27);
  border-color: rgb(168, 36, 27)!important;
}


.p-2-roofer {
  padding: 1.5rem!important;
}

.text-dark-roofer {
  color: rgb(168, 36, 27)!important;
  font: 16px Arial Black, Arial Bold, Gadget, sans-serif;
}


/************** SERVICES **********/
.ourServices {
  width: 100%;
}

.servicesHeader {
  width: 100%;
  height: 80px;
  background-color: white;
}

#servicesTitle {
  color: black;
  text-align: center;
  margin: 50px auto;
  font: 36px Arial Black, Arial Bold, Gadget, sans-serif;
}


.servicesContainer {
  width: 100%;
  height: 400px;
}
.servicesContainer ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
}

.servicesContainer ul li {
  list-style: none;
  flex: 0 0 33.3333%;
}

.servicesItem {
  width: 100%;
}



.servicesItem p {
  color: rgb(208, 37, 45);
  text-align: center;
  margin-top: 20px;
  font: 20px Arial Black, Arial Bold, Gadget, sans-serif;
}

.servicesItem img {
  width: 120px;
  height: auto;
  margin-top: 20px;

}

.description {
  color: black !important;
  text-align: center;
  width: 60%;
  font: 16px Arial Black, Arial Bold, Gadget, sans-serif !important;
  margin: 0 auto;
}


/************** STORM DAMAGE **********/
.stormDamage {
  width: 100%;
  height: 525px;
  
  background-color: rgb(181, 14, 18);
}

.stormHeader {
  width: 100%;
  height: 80px;
}

#stormTitle {
  color: white;
  text-align: center;
  padding-top: 15px;
  font: 36px Arial Black, Arial Bold, Gadget, sans-serif;
}

.stormDamageContent {
  height: 400px;
}

.stormDamageImage {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
  height: 100%;
}

.stormDamageImage img {
  margin-top: 15px;
}

.stormDamageBody {
  width: 50%;
  float: right;
  padding: 0;
  margin: 0;
  height: 100%;
}

.stormDamageBody p {
  font: 18px Arial Black, Arial Bold, Gadget, sans-serif;
  width: 60%;
  margin: 50px auto 0 auto;
  color: white;
}


.App-header {
  /*background-color: #282c34;*/
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  width: 100%;
  height: 250px;
}

.footerImage {
  width: 50%;
  height: 100%;
  float: left;
}

.footerContent {
  width: 50%;
  height: 100%;
  float: right;
}

footer img {
  height: 200px;
  margin-top: 25px;
  width: auto;
}

.footerAddressTitle {
  font: 28px Arial Black, Arial Bold, Gadget, sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 75px;
}

.footerAddressInfo {
  font: 18px Arial Black, Arial Bold, Gadget, sans-serif;
  margin-top: 5px;
}

.App-link {
  color: #61dafb;
}
