th {
    font-size: 18px;
    text-align: center !important;
    font-weight: bold !important;
}

td {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.comparisonInfo {
    text-align: center;
}