th {
    font-family: AgencyFB, serif;
    font-size: 18px;
    text-align: center !important;
    font-weight: normal !important;
}

td {
    font-family: AgencyFB, serif;
    font-size: 14px;
    font-weight: lighter;
}