.work-banner-container {
  width: 100%;
  height: 500px;

  .who-we-are {
    height: 500px;
    width: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;

    .banner-image {
      width: 100%;
      min-height: 500px;
      position: absolute;
    }

    .work-info-container {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;

      .small-header {
        color: white;
        font: 22px PoppinsBold, sans-serif, serif;
      }

      .large-header {
        color: white;
        font: 36px PoppinsSemiBold, sans-serif, serif;
      }

      .work-banner-description {
        color: white;
        font: 20px Poppins, sans-serif, serif;
        margin-bottom: 25px;
      }
    }

  }

  .how-we-do-it {
    width: 50%;
    height: 500px;
    display: inline-block;
    overflow: hidden;
    position: relative;

    .banner-image {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .work-info-container {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;

      .small-header {
        color: white;
        font: 22px PoppinsBold, sans-serif, serif;
      }

      .large-header {
        color: white;
        font: 36px PoppinsSemiBold, sans-serif, serif;
      }

      .work-banner-description {
        color: white;
        font: 20px Poppins, sans-serif, serif;
        margin-bottom: 25px;
      }
    }
  }
}

/****************** SMALL LAPTOPS ****************/
@media all and (max-width: 1500px) and (min-width: 850px) {

  .work-banner-container {

    .who-we-are {

      .banner-image {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .work-info-container {
        position: absolute;
        left: 5%;
        top: 15%;
        width: 90%;

        .small-header {
          color: white;
          font: 22px PoppinsBold, sans-serif, serif;
        }

        .large-header {
          color: white;
          font: 30px PoppinsSemiBold, sans-serif, serif;
        }

        .work-banner-description {
          color: white;
          font: 20px Poppins, sans-serif, serif;
        }
      }

    }

    .how-we-do-it {
      width: 50%;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      position: relative;

      .banner-image {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .work-info-container {
        position: absolute;
        left: 5%;
        top: 15%;
        width: 90%;

        .small-header {
          color: white;
          font: 22px PoppinsBold, sans-serif, serif;
        }

        .large-header {
          color: white;
          font: 30px PoppinsSemiBold, sans-serif, serif;
        }

        .work-banner-description {
          color: white;
          font: 20px Poppins, sans-serif, serif;
        }
      }
    }
  }

}

/************************ TABLETS ***********************/
@media all and (max-width: 849px) {

  .work-banner-container {
    width: 100%;
    height: 1000px;

    .who-we-are {

      width: 100%;
      display: block;

      .work-info-container {
        left: 5%;
        width: 90%;

        .small-header {
          color: white;
          font: 24px PoppinsBold, sans-serif, serif;
        }

        .large-header {
          color: white;
          font: 36px PoppinsSemiBold, sans-serif, serif;
        }

        .work-banner-description {
          color: white;
          font: 20px Poppins, sans-serif, serif;
          margin-bottom: 50px;
        }
      }

    }

    .how-we-do-it {
      width: 100%;
      display: block;

      .work-info-container {
        left: 5%;
        width: 90%;

        .small-header {
          color: white;
          font: 24px PoppinsBold, sans-serif, serif;
        }

        .large-header {
          color: white;
          font: 36px PoppinsSemiBold, sans-serif, serif;
        }

        .work-banner-description {
          color: white;
          font: 20px Poppins, sans-serif, serif;
          margin-bottom: 50px;
        }
      }
    }
  }

}

@media all and (max-width: 500px) {

  .work-banner-container {
    width: 100%;
    height: 1000px;

    .who-we-are {

      width: 100%;
      display: block;

      .work-info-container {
        left: 5%;
        width: 90%;

        .small-header {
          color: white;
          font: 22px PoppinsBold, sans-serif, serif;
        }

        .large-header {
          color: white;
          font: 28px PoppinsSemiBold, sans-serif, serif;
        }

        .work-banner-description {
          color: white;
          font: 18px Poppins, sans-serif, serif;
          margin-bottom: 50px;
        }
      }

    }

    .how-we-do-it {
      width: 100%;
      display: block;

      .work-info-container {
        left: 5%;
        width: 90%;

        .small-header {
          color: white;
          font: 22px PoppinsBold, sans-serif, serif;
        }

        .large-header {
          color: white;
          font: 28px PoppinsSemiBold, sans-serif, serif;
        }

        .work-banner-description {
          color: white;
          font: 18px Poppins, sans-serif, serif;
          margin-bottom: 50px;
        }
      }
    }
  }

  .arrow-button-container {
    min-width: 275px;
  }


}